<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset = "UTF-8">
	<title>Angular testing</title>
<script src="lib/angular/angular.min.js"></script>

<style>
	input{
		margin: 10px;
		padding: 3px;
	}
	fieldset{
		padding: 10px 0;
	}
	label{
		padding: 0 10px;
	}
	#name_data{
		color: red;
	}
</style>
</head>
<body>
	<fieldset>
		<label for="name">Name: 
		<input type="text" name="name" ng-model="name"></label>
		<label for="email">Email: 
		<input type="email" name="email" ng-model="email"></label>
	</fieldset>
	
	<h2>Welcome <span id="name_data" >{{name}}</span></h2>
	<h3>Email: {{email}}</h3>

{{name}}
</body>
</html>